
.wid{
    width:100vw;
}
.w{
    width:100vw;
}

.wid{
    width:30%;
}
.img{
    transition: transform .2s;
}
.img:hover{
    transform: scale(1.1);
    overflow: hidden;
    /* zoom: 1.2; */
}

.sparkle {
    max-width: 10em;
    color: #441151;
    margin: auto auto;
}
.sparkle:hover {
    cursor: pointer;
}
.u-hover--sparkle {
    box-sizing: border-box;
    position: relative;
    padding: 0.75em;
}
.u-hover--sparkle::before, .u-hover--sparkle::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: center;
}
.u-hover--sparkle::before {
    border-top: 0.2em solid #171810;
    border-bottom: 0.2em solid #101018;
    transform: scale3d(0, 1, 1);
}
.u-hover--sparkle::after {
    border-left: 0.2em solid #101018;
    border-right: 0.2em solid #101018;
    transform: scale3d(1, 0, 1);
}
.u-hover--sparkle:hover::before, .u-hover--sparkle:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 900ms;
}
