.back{
    background-image: url('./components/images/back2.avif');
    
    background-repeat: repeat-x repeat-y;
    /* background-size: cover;  */
    /* opacity: 0.9; */ 
    /* background-color: black; */
    min-height: 100vh;
}